<%if $puzzles%>
<form action="/edit/<%=$puzzles.id%>" method="post" enctype="multipart/form-data">
<div class="col-7" id="question_div">
        <div class="question_type_area">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="kind_of_question" value="<%=$puzzles.kind_of_question%>">
        <input type="hidden" name="correct_answer" value="<%=$puzzles.correct_answer%>">
        <input type="hidden" name="assessments_id" value="<%=$puzzles.assessments_id%>">
            <div class="ques-icon-div" onclick="uploadPic()"><i class="fa-solid fa-image" id="img-icon"></i>
           </div>
           <div class="ques-textarea-div" id="txt-area"><textarea id="text-area-question"name="question" placeholder="Type your question here...."required><%= $puzzles.question%></textarea></div>
           <div  id="f-upload" class="display" style="display: none;"><input type="file" name="images"></div>
           </div>

        <div class="answer-type-area-fillup">
        <div class="disp_opts">
          <div class="quiz_row">

           <div class="disp opt2" ><input type="text" name="option1"  placeholder="Type answer here ..." value="<%=$puzzles.answer%>"required></div>
          </div>
        </div>

        </div>
        </div>
    <div class="btn-ques-div">
      <button id="cancel-btn">Cancel</button>
      <button type="submit" id="submit-btn">Submit</button></form>
    </div>
    </form>
</div>
</div>
</div>

<%else%>
<form action="/question" method="post" enctype="multipart/form-data">
<div class="col-7" id="question_div">
        <div class="question_type_area">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

            <div class="ques-icon-div" onclick="uploadPic()"><i class="fa-solid fa-image" id="img-icon"></i>
           </div>
           <div class="ques-textarea-div" id="txt-area"><textarea id="text-area-question"name="question" placeholder="Type your question here...."required></textarea></div>
           <div  id="f-upload" class="display" style="display: none;"><input type="file" name="images"></div>
           </div>

        <div class="answer-type-area-fillup">
        <div class="disp_opts">
          <div class="quiz_row">

           <div class="disp opt1"><input type="text" name="option1"  placeholder="Type answer here ..."required></div>
          </div>
        </div>

        </div>
        </div>
      <button type="submit" id="submit-btn1">Submit</button></form>

    </form>
</div>
</div>
</div>

<%end%>
<script>

function uploadPic(){
   document.getElementById("txt-area").classList.toggle("display");
   document.getElementById("f-upload").classList.toggle("display");
}

    function display() {
        let div = document.getElementById("kinds_of_questions");
        div.style.display = "block";
    }

</script>
