<div class="assessment-game">
<%= render partial:"/home/header"%>
</div>
<div class="sidebar">
<div><em class="fa-solid fa-earth-americas" id="sidebar-icon"></em><a href="/quiz">Explore</a></div>
<div><em class="fa-solid fa-book" id="sidebar-icon"></em><a href="/library">Library</a></div>
<div><em class="fa-solid fa-chart-line" id="sidebar-icon"></em><a href="#">Dashboard</a></div>
</div>
<div class="reports_page">
<div class="chart">
<%= pie_chart Report.group(:score).count %><br>
</div>
<div class="reports">
<% logged_user = User.find(session[:id]) %>
<% if logged_user %>
<div class="reports_table">
<table class="table table-hover">
  <caption style="display:none">Dashboard</caption>
  <% if $question%>
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Correct answer</th>
      <th scope="col">User answer</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
      <% $question.all.each do |t|%>
      <% @@record.all.each do |l|%>
    <tr>
      <th scope="row"><%=t.question%></th>
      <td><%=t.correct_answer%></td>
      <td><%=l.time_limit%></td>
      <td><%=l.score%></td>
    </tr>
    <%end%>
    <%end%>
  </tbody>
  <%else%>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Correct answer</th>
      <th scope="col">Wrong answers</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/reports/<%=logged_user.id%>"><%= logged_user.name%></a></th>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 100).count%></td>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 0).count%></td>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 100).sum(:score)%></td>
    </tr>
  </tbody>
<%end%>
</table>
</div>
</div>
</div>
<%else%>
<%end%>
