<div class="assessment-game">
<%= render partial:"/home/header"%>
</div>
<div class="sidebar">
<div><i class="fa-solid fa-earth-americas" id="sidebar-icon"></i><a href="/assessments/explore">Explore</a></div>
<div><i class="fa-solid fa-book" id="sidebar-icon"></i><a href="">Library</a></div>
<div><i class="fa-solid fa-chart-line" id="sidebar-icon"></i><a href="">Dashboard</a></div>
</div>
<div class="reports_page">
<div class="chart">
<%= pie_chart Report.group(:score).count %><br>
</div>
<div class="reports">
<% logged_user = User.find(session[:id]) %>
<% if logged_user %>


<div class="reports_table">
<table class="table table-hover">
  <caption style="display:none">Dashboard</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Correct answer</th>
      <th scope="col">Wrong answers</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/reports/<%=logged_user.id%>"><%= logged_user.name%></a></th>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 100).count%></td>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 0).count%></td>
      <td><%=Report.where("users_id=? AND score=?" , logged_user.id , 100).sum(:score)%></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
<%else%>
<%end%>
