<%if $record %>
<%= render partial:"disp_qtns"%>
<%else%>
<div id="gamepin-form" >
<%= $random_no%>
<form action="/check_equal" method="post" onsubmit="toggle()">
<input type="hidden" value="<%= $game.random_no%>" name="g_random">
<input type="hidden" value="<%= $game.assessments_id%>" name="id">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
<div class="random-inputs">
<input type="text" id="random_no" placeholder="Game pin"name="input_random"required><br>
<button type="submit" >Enter</button>
</div>
</form>
</div>
<div id="aftgamepin-display" style="display:none">
<div class="content">
  <%= image_tag('board.png' , height:"500", width: "400")%>
   Have you seen your name in board?
</div>
</div>
<%end%>


<script>

function toggle() {
    document.getElementById("gamepin-form").style.display="none";
     document.getElementById("aftgamepin-display").style.display="block";
}

function report() {
  window.location.href="/reports_save";
}

</script>
