<div class="assessment-game">
<%= render partial:"/home/header"%>
</div>
<div class="sidebar">
<div><em class="fa-solid fa-earth-americas" id="sidebar-icon"></em><a href="/quiz">Explore</a></div>
<div><em class="fa-solid fa-book" id="sidebar-icon"></em><a href="#">Library</a></div>
<div><em class="fa-solid fa-chart-line" id="sidebar-icon"></em><a href="/dashboard">Dashboard</a></div>
</div>

<%if $questions%>
<div class="library">
    <button type="submit" class="submit-btn" onclick="redirect_tolibrary()">Save</button>
   <div class="library-scroll">

    <%$questions.all.each do |t|%>
    <div class="display-qtn">

    <%= t.question%>
    <a href="/edit_page/<%=t.id%>" style="color:#2c4c3c;margin-left:90%;padding-right:2%;margin-top:10%;"><em class="fa-solid fa-pen"></em></a>
    <a href="/delete/<%=t.id%>" style="color:#2c4c3c;"><em class="fa-solid fa-trash"></em></a>
    </div>
    <%end%>
    </div>

 </div>
<%else%>
<div class="assessments">
<%assessments = Assessment.where(users_id: session[:id])%>
<%assessments.each do |t|%>
 <div class="library-content">
    <div class="library-img">
   <% if t.images%>
   <%= image_tag(t.images , class:"library-img" )%>
   <%else%>
   <%= image_tag t.images,  class:"library-img"%>
   <%end%>
   </div>  <br>
   <div class="library-texts">
       <a href="/display/<%=t.id%>" style="color:#2c4c3c;margin-left:00px;padding-right:2%;margin-top:10%;"><em class="fa-solid fa-pen"></em></a>
      <p class="head"><%= t.name%></p><br>
    <p class="count">number of questions:<%=Puzzle.where(assessments_id: t.id).count%></p>
   </div><br>

    <a href="/display_pin/<%=t.id%>"><button type="submit" class="quiz-start"> Start</button></a>

</div>

<%end%>
<%end%>

</div>
<script>
    function redirect_tolibrary()
{
    window.location.href="/red_library"
}    </script>
<style>
    .lib_color{
        background-color:white;
    }
</style>
