<%= render partial:"home/header"%>
<div class="creategame">
<div class="cgame">
<h2>CREATE QUIZ</h2><br>
<a href="form"><%= image_tag("create_game.jpg", alt: "like" , class:"img_game") %></a></div>
<div class="hosting_game">
<h2>HOSTING QUIZ</h2><br>
<%= image_tag("hosting.jpg", alt: "like" , class:"img_game") %></div>
<div class="dashboards">
<h2>DASHBOARDS</h2><br>
<%= image_tag("reports.webp", alt: "like" , class:"img_game") %></div>
</div>
<%= image_tag("quizbg.webp", alt: "like" ,class: "quiz_bg") %>

