<div class="game">
<%t=Question.last%>
<%case t.kind_of_question%>
<% when "Quiz"%>
    <%= render partial:"quiz"%>
<%when "True or false"%>
    <%= render partial:"tf"%>
<%when "Fillup"%>
     <%= render partial:"fillup"%>
<%else%>
      <%= render partial: "quiz"%>
<%end%>
</div>
<div class="overflow">
<div class="images">
<% Question.all.each do |t|%>
<%case t.kind_of_question%>
<%when "Quiz"%>
<a href="/quiz/display/<%=t.id%>"><%=image_tag( "1.png", alt: "like" ,class:"question_image") %></a>
<% when "True or false"%>
<a href="/quiz/display/<%=t.id%>"><%=image_tag( "2.png", alt: "like" ,class:"question_image") %></a>
<% when "Fillup"%>
<a href="/quiz/display/<%=t.id%>"><%=image_tag( "3.png", alt: "like" ,class:"question_image") %></a>
 <%end%>
<%end%>
</div>
<div class="add_qtn">
<button type="submit" id="add_question" onclick="display()" >Add question</button>
</div>
</div>
<div id ="kinds_of_questions" style="display:none;">
  <form action="/show" method="post">
<div>
   <%=image_tag( "1.png", alt: "like" , height:"100",width:"150") %>
   <input type="hidden" name="authenticity_token" value=" form_authenticity_token ">
   <input type="submit" name="kind_of_question" value="Quiz" ><br>
</div><br>
<div>
   <%=image_tag( "2.png", alt: "like" ,height:"100",width:"150") %>
   <input type="submit" name="kind_of_question" value="True or false" ><br>
</div><br>
<div>
   <%=image_tag( "3.png", alt: "like" ,height:"100",width:"150") %>
   <input type="submit" name="kind_of_question" value="Fillup">
</div><br>
</form>
</div>
<script>
function display() {
    let div = document.getElementById("kinds_of_questions");
    div.style.display = "block";

}
</script>

