<div class="home">
<nav class="navbar navbar-expand-lg navbar-light ">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Review</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <%# <button type="button" style="color: white" id="login">
          LOGIN
        </button> %>
      <!-- Notifications -->
      <div class="dropdown">
      <a href="/users/login">
        <button type="button" id="btn"class="btn btn-primary me-3">
          Sign In
        </button></a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
    <!-- Avatar -->
     <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>



<div class="heading">
<%= image_tag("pf.png", alt: "like" ,:align=>"middle") %>
<h2>A FULLY ONLINE BASED ASSESSMENT APPLICATION <br>TO ASSEST YOURSELF</h2>
<button type="button" class="btn btn-primary me-3" id="log"  >GET STARTED</button>
</div>
</div>
</div>
<%= image_tag("working.jpg", alt: "like" ,class: "bg-img") %>

<!-- Navbar -->
<div class="lightbox">
<div class="column1">
<%= image_tag("exam.webp",:align=> "left", alt: "like",width: "50%",height: "10%" , id: "img") %>
</div>
<div class="row-1">
<%= image_tag("study.webp",:align=> "left", alt: "like",width: "50%",height: "10%" , id: "img1") %>
<%= image_tag("doubt.webp",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img2") %>
</div>
<div class="row-2">
<%= image_tag("quiz.webp",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img1") %>
<%= image_tag("results.jpeg",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img2") %>
</div>
<div class="column2">
<%= image_tag("results.webp",:align=> "right", alt: "like",width: "50%",height: "10%" , id: "img") %>
</div>

</div>
</div>
<div class="container">

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">SwethaMS</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<script>
if(session[:id]) {
  document.getElementsByTagName("nav").style.display="none";
}
</script>


