<div class="home">
<%= render partial: "header"%>
<div class="heading">
<%= image_tag("pf.png", alt: "like" ,:align=>"middle") %>
<h2>A FULLY ONLINE BASED ASSESSMENT APPLICATION <br>TO ASSEST YOURSELF</h2>
<button type="button" class="btn btn-primary me-3" id="log"  >GET STARTED</button>
</div>
</div>
</div>
<%= image_tag("working.jpg", alt: "like" ,class: "bg-img") %>

<!-- Navbar -->
<div class="lightbox">
<div class="column1">
<%= image_tag("exam.webp",:align=> "left", alt: "like",width: "50%",height: "10%" , id: "img") %>
</div>
<div class="row-1">
<%= image_tag("study.webp",:align=> "left", alt: "like",width: "50%",height: "10%" , id: "img1") %>
<%= image_tag("doubt.webp",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img2") %>
</div>
<div class="row-2">
<%= image_tag("quiz.webp",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img1") %>
<%= image_tag("results.jpeg",:align=> "middle", alt: "like",width: "50%",height: "10%" , id: "img2") %>
</div>
<div class="column2">
<%= image_tag("results.webp",:align=> "right", alt: "like",width: "50%",height: "10%" , id: "img") %>
</div>

</div>
</div>
<div class="container">

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">SwethaMS</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<script>
if(session[:id]) {
  document.getElementsByTagName("nav").style.display="none";
}
</script>


