
<div class="disp quiz">
        <div class="disp qtns">
        <div class="disp_qtn"> <%=record.question%></div>
</div>
<div class="disp_opts">
<div class="disp_row">
       <form action ="" method="post">

       <div class="disp opt1">  <input type="radio" name="answer" value="a"><p class="radio_p"><%=record.option1%></p></div>
        <div class="disp opt2"><input type="radio" name="answer"value="b"><p class="radio_p"><%=record.option2%></p></div>
</div>
<div class="disp_row">
        <div class="disp opt3"> <input type="radio" name="answer"value="c"><p class="radio_p"><%=record.option3%></p></div>
        <div class="disp opt4"> <input type="radio" name="answer"value="d"><p class="radio_p"><%=record.option4%></p></div>
        </form>
</div>
</div>

