<div class="reports">
<% logged_user = User.find(session[:id]) %>
<% if logged_user %>
<div class="dashboard">Swetha</div>
<canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>

<div class="reports_table">
<table class="table table-hover">
<caption style="display:none">Table</caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  <%Report.all.each do |t|%>
    <tr>
      <th scope="row">1</th>
      <td><%=t.score%></td>
      <td><%=t.id%></td>
      <td><%=%></td>
    </tr>

    <%end%>
  </tbody>
</table>
</div>
<%else%>
<%end%>
